.container {
  padding: 20px;
  background-color: #e6e6fa; /* 温馨的淡蓝紫色背景 */
  min-height: 100vh; /* 确保背景颜色覆盖整个页面 */
  .customInput {
    height: 40px;
  }
}

.sentenceList {
  margin-bottom: 20px;
}

.addSentence {
  margin-bottom: 20px;
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.editSentence {
  margin-bottom: 20px;
}
